@{
    Layout = "_Layout";
}
@using Crossout.AspWeb.Helper

@model Crossout.AspWeb.Models.General.CalendarModel


<link href="/lib/fullcalendar/main.min.css" rel="stylesheet" />
<script src="/lib/ical.js/ical.min.js"></script>
<script src="/lib/fullcalendar/main.min.js"></script>
<script src="/lib/fullcalendar/icalendar/main.global.min.js"></script>

<partial name="header" model="@Model" />

<div class="half-hd-container px-3">

    @if (WebSettings.Settings.EnableAds)
    {
        <partial name="leaderboardad" />
    }

    <div class="my-2" id='calendar'></div>
</div>

<script src="~/scripts/internal/calendar.js?@CacheBuster.Once"></script>
