@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod

<link rel="stylesheet" href="~/content/datepicker.min.css">
<script src="~/scripts/datepicker.min.js?@CacheBuster.Once"></script>

<div id="gamemode_overview_card" class="card my-1 mt-2 d-none gamemode-overview">


    @*<ul class="nav nav-pills nav-fill mb-3" id="breakdown_list" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#">Total</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Minimum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Maximum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Average</a>
        </li>
    </ul>*@

    

    
    @*<div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Medals</p></div>
            <div id="medals" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>MVP Rate</p></div>
            <div id="mvp" class="row display-4 justify-content-center"></div>
        </div>
    </div>*@
    
    <div class="collapse" id="averages_card">
        <div class="card card-body ml-2 mr-2 mb-2">
            <div class="d-flex justify-content-center flex-row mt-3">
                <div id="kill_box_plot"></div>
            </div>
            <div class="d-flex justify-content-center flex-row mt-3">
                <div id="dmg_box_plot"></div>
            </div>
            <div class="d-flex justify-content-center flex-row mt-3">
                <div id="score_box_plot"></div>
            </div>
        </div>
    </div>
</div>
