@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod

<link rel="stylesheet" href="~/content/datepicker.min.css">
<script src="~/scripts/datepicker.min.js?@CacheBuster.Once"></script>

<div id="gamemode_overview_card" class="card my-1 mt-2 d-none gamemode-overview">
    <div class="d-flex flex-row">
        <div class="align-self-start col my-1">
            <input type="text" class="form-control" id="start_date" />
        </div>
        <div class="align-self-start col my-1">
            <input type="text" class="form-control" id="end_date" />
        </div>
        <div class="btn-group btn-group-sm align-self-start col my-1">
            <button id="movement_dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Power Score
            </button>
            <div id="power_score_selection_menu" style="max-height: 800px; overflow-y: auto;" class="dropdown-menu">
                <a class="dropdown-item" data-min-powerscore="0" data-max-powerscore="2499">0-2499</a>
                <a class="dropdown-item" data-min-powerscore="2500" data-max-powerscore="3499">2500-3499</a>
                <a class="dropdown-item" data-min-powerscore="3500" data-max-powerscore="4499">3500-4499</a>
                <a class="dropdown-item" data-min-powerscore="4500" data-max-powerscore="5499">4500-5499</a>
                <a class="dropdown-item" data-min-powerscore="5500" data-max-powerscore="6499">5500-6499</a>
                <a class="dropdown-item" data-min-powerscore="6500" data-max-powerscore="7499">6500-7499</a>
                <a class="dropdown-item" data-min-powerscore="7500" data-max-powerscore="8499">7500-8499</a>
                <a class="dropdown-item" data-min-powerscore="8500" data-max-powerscore="9499">8500-9499</a>
                <a class="dropdown-item" data-min-powerscore="9500" data-max-powerscore="12999">9500-12999</a>
                <a class="dropdown-item" data-min-powerscore="13000" data-max-powerscore="24000">13000+</a>
                <a class="dropdown-item" data-min-powerscore="24000" data-max-powerscore="99999">Leviathian</a>
            </div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col my-1">
            <button id="hardware_dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Group Size
            </button>
            <div id="group_selection_menu" style="max-height: 800px; overflow-y: auto;" class="dropdown-menu">
                <a class="dropdown-item" data-keyname="Solo">Solo</a>
                <a class="dropdown-item" data-keyname="2">2 Man</a>
                <a class="dropdown-item" data-keyname="3">3 Man</a>
                <a class="dropdown-item" data-keyname="4">4 Man</a>
                <a class="dropdown-item" data-keyname="All">Any Size Group</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="btn-group btn-group-sm align-self-start col my-1">
            <button id="cabin_dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cabin
            </button>
            <div id="cabin_part_selection_menu" style="max-height: 800px; overflow-y: auto;" class="dropdown-menu"></div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col my-1">
            <button id="weapon_dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Weapon
            </button>
            <div id="weapon_part_selection_menu" style="max-height: 800px; overflow-y: auto;" class="dropdown-menu"></div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col my-1">
            <button id="movement_dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Movement
            </button>
            <div id="movement_part_selection_menu" style="max-height: 800px; overflow-y: auto;" class="dropdown-menu"></div>
        </div>
        <div class="btn-group btn-group-sm align-self-start col my-1">
            <button id="hardware_dropdown" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardware
            </button>
            <div id="hardware_part_selection_menu" style="max-height: 800px; overflow-y: auto;" class="dropdown-menu"></div>
        </div>
        <div class="align-self-start col my-1">
            <button id="reset_filters" type="button" class="btn-block btn-outline-secondary">
                Reset
            </button>
        </div>
    </div>

    <ul class="nav nav-pills nav-fill mb-3" id="classification_list" role="tablist"></ul>
    <ul class="nav nav-tabs nav-fill mb-3" id="game_type_list" role="tablist"></ul>

    <div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Games Recorded</p></div>
            <div id="games_recorded" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Win Rate</p></div>
            <div id="win_rate" class="row display-4 justify-content-center"></div>
        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Kills</p></div>
            <div id="kills" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Assists</p></div>
            <div id="assists" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>(K + A) / G</p></div>
            <div id="ka_g" class="row display-4 justify-content-center"></div>
        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Medals</p></div>
            <div id="medals" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>MVP Rate</p></div>
            <div id="mvp" class="row display-4 justify-content-center"></div>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-row mt-3">
        <div class="col-sm justify-content-center">
            <button id="expand_gamemode_visualization" class="btn btn-secondary" style="width: 70px; height: 70px; padding: 10px 16px; border-radius: 35px; font-size: 12px; text-align: center;" type="button" data-toggle="collapse" data-target="#averages_card" aria-expanded="false" aria-controls="averages_card">+</button>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Kills</p></div>
            <div id="avg_kills" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Assists</p></div>
            <div id="avg_assists" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Dmg</p></div>
            <div id="avg_dmg" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Dmg Rec</p></div>
            <div id="avg_dmg_rec" class="row display-4 justify-content-center"></div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Score</p></div>
            <div id="avg_score" class="row display-4 justify-content-center"></div>
        </div>
    </div>
    <div class="collapse" id="averages_card">
        <div class="card card-body ml-2 mr-2 mb-2">
            <div class="d-flex justify-content-center flex-row mt-3">
                <div id="kill_box_plot"></div>
            </div>
            <div class="d-flex justify-content-center flex-row mt-3">
                <div id="dmg_box_plot"></div>
            </div>
            <div class="d-flex justify-content-center flex-row mt-3">
                <div id="score_box_plot"></div>
            </div>
        </div>
    </div>
</div>
