@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod
@model UserProfile
@{
    var loc = Model.Localizations;
}

<div class="card my-1 mt-2 gamemode-overview" data-uid="@Model.Uid">

    <ul class="nav nav-pills nav-fill mb-3" id="classification_list" role="tablist"></ul>

    <ul class="nav nav-tabs nav-fill mb-3" id="game_type_list" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#total" role="tab" aria-controls="total" aria-selected="true">Total</a>
        </li>
    </ul>

    <div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Games Recorded</p></div>
            <div class="row display-4 justify-content-center">@Model.GamesRecorded</div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Win Rate</p></div>
            <div class="row display-4 justify-content-center">@Model.WinRate</div>
        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Kills</p></div>
            <div class="row display-4 justify-content-center">5000</div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Assists</p></div>
            <div class="row display-4 justify-content-center">7000</div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>(K + A) / G</p></div>
            <div class="row display-4 justify-content-center">5.4</div>
        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="col">
            <div class="row d-flex justify-content-center"><p>Medals</p></div>
            <div class="row display-4 justify-content-center">@Model.GamesRecorded</div>
        </div>
        <div class="col">
            <div class="row d-flex justify-content-center"><p>MVP Rate</p></div>
            <div class="row display-4 justify-content-center">22%</div>
        </div>
    </div>
</div>
