@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod

<div id="match_history_overview_card" class="card my-1 mt-2 d-none gamemode-overview">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Mode</th>
                <th scope="col">Start Time</th>
                <th scope="col">Map</th>
                <th scope="col">PS</th>
                <th scope="col">Score</th>
                <th scope="col">K</th>
                <th scope="col">A</th>
                <th scope="col">Dmg</th>
                <th scope="col">Dmg Rec</th>
                <th scope="col">Result</th>
                <th scope="col">Reward</th>
            </tr>
        </thead>
        <tbody id="match_history_body">
        </tbody>
    </table>
</div>
