@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod
@model UserProfile
@{
    var loc = Model.Localizations;
}

<div class="card my-1 mt-2 profile-overview" data-uid="@Model.Uid">
    <div class="d-flex flex-row mb-4">
        <div class="col-lg px-0">
            <div class="row jumbotron mx-0 mb-0 py-6">
                <div class="container">
                    <h1 style="font-size: min(8vw, 128px);" class="row display-1 justify-content-center">@Model.Nickname</h1>
                    <p class="row d-none lead justify-content-center" id="known_as">@Model.Nicknames</p>
                </div>
            </div> 
            <div id="filter_div" class="d-none">
                <partial name="stat_filter" />
            </div>
            <div id="summary_row_1" class="row d-none">
                <div class="col">
                    <div class="row d-flex justify-content-center">Games Recorded</div>
                    <div id="total_games_recorded" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center">Time Recorded</div>
                    <div id="total_time_recorded" class="row display-4 justify-content-center"></div>
                </div>
            </div>
            <div id="summary_row_2" class="row d-none mb-2">
                <div class="col">
                    <div class="row d-flex justify-content-center">Win Rate</div>
                    <div id="total_win_rate" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center">(K + A) / G</div>
                    <div id="total_kag" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col justify-content-center">
                    <div class="row d-flex justify-content-center">MVP Rate</div>
                    <div id="total_mvp_rate" class="row display-4 justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="min_max_card" class="card m-3 mt-6 pb-4 d-none">
        <div class="card-header">
            <ul class="nav nav-tabs nav-fill card-header-tabs" id="breakdown_list" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Total</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Minimum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Maximum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Average</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="d-flex flex-row mt-3">
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Kills</p></div>
                    <div id="kills" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Assists</p></div>
                    <div id="assists" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Deaths</p></div>
                    <div id="deaths" class="row display-4 justify-content-center"></div>
                </div>
            </div>
            <div class="d-flex flex-row mt-3">
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Damage</p></div>
                    <div id="damage" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Damage Recieved</p></div>
                    <div id="damage_recieved" class="row display-4 justify-content-center"></div>
                </div>
            </div>
            <div class="d-flex flex-row mt-3">
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Medals</p></div>
                    <div id="medals" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Score</p></div>
                    <div id="score" class="row display-4 justify-content-center"></div>
                </div>
                <div class="col">
                    <div class="row d-flex justify-content-center"><p>Time</p></div>
                    <div id="time" class="row display-4 justify-content-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg text-center">
            <figure class="highcharts-figure">
                <div id="gamemode_overview"></div>
            </figure>
        </div>
        <div class="col-lg text-center">
            <figure class="highcharts-figure">
                <div id="weapons_overview"></div>
            </figure>
        </div>
        <div class="col-lg text-center">
            <figure class="highcharts-figure">
                <div id="movement_overview"></div>
            </figure>
        </div>
    </div>
</div>
