@using Crossout.AspWeb.Helper
@using Crossout.AspWeb.Models.Cod
@model ProfileOverview
@{
    var loc = Model.Localizations;
}

<div class="card my-1">
    <div class="d-flex flex-row">
        <b>Revenue Overview</b>
    </div>
</div>
