
<div class="d-flex my-1 justify-content-center">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Leaderboard -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-1215488197322962"
         data-ad-slot="3124709022"></ins>
    <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>